.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}


@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}